*.iml
*.log
*.pandat
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/**/build
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/common/common/src/commonMain/python/Transfer_pb2.py
/common/common/src/commonMain/python/Transfer_pb2_grpc.py